@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

@mixin title {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
}

.about-me {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
  flex-flow: row wrap;

  .close {
    flex-grow: 10;
    display: flex;
    flex-direction: row-reverse;

    .close-button {
      $size: 25px;
      height: $size;
      width: $size;
      position: relative;
      box-sizing: border-box;
      line-height: $size;
      display: inline-block;

      &:before, &:after {
        $width: 25px;
        $height: 5px;
        transform: rotate(-45deg);
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: - $height / 2;
        margin-left: - $width / 2;
        display: block;
        height: $height;
        width: $width;
        background-color: #fff;
        transition: all 0.2s ease-out;
      }

      &:after {
        transform: rotate(45deg);
      }

      &:hover {
        &:before, &:after {
          transform: rotate(0deg);
        }
      }
    }
  }

  .main {
    flex-grow: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;

    h2 {
      @include title;
    }

    .information {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 90%;
      flex-wrap: wrap;
      flex-flow: row wrap;

      .photo {
        width: 250px;
        margin: 5px;
        padding: 10px 10px 20px 10px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 15px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .text {
        width: 70%;
        font-size: 1em;
        line-height: 1.2em;
        font-weight: bold;

        a {
          text-decoration: none;
          color: blue;
        }

        i {
          font-style: italic;
        }
      }
    }

  }

  .skills {
    flex-grow: 30;
    width: 80%;
    margin: auto;

    h2 {
      @include title;
    }

    .tech-icons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin: 25px 0;

      div {
        //background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img, svg {
          width: 50px;
          margin: auto;
        }

        p {
          margin: 10px;
          text-transform: uppercase;
        }

        p.better-known {
          font-weight: bold;
          color: blue;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px), screen and (max-height: 600px) {
  .about-me {
    font-size: 10px;
    width: 95%;

    .main {
      .information {
        .text {
          text-align: justify;
        }
      }

    }

    .skills {
      margin-top: 20%;
    }

  }
}