.Menu {
  color: white;
  flex-grow: 10;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid #3b8d99;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: all 100ms ease-out;
    outline: none;
    font-weight: bold;

    &:hover {
      background: #aa4b6b;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      border: none;
      color: white;
      border-radius: 10px;
      cursor: pointer;
    }

    &:hover:after {
      background: rgba(0, 0, 0, 0);
      border: 2px solid #6b6b83;
    }

  }
}